%h1 Products List
%ul
  - @categories.each do |category|
    %h2= category.title
    - category.products.each do |product|
      %li
        = product.title
        = product.content
        = product.price