!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: "Content-Type"}}/
    %title Boilerplate
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {'turbolinks-track' => 'reload'}
    = javascript_include_tag 'application', data: {'turbolinks-track' => 'reload'}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css", :rel => "stylesheet"}/
  %body
    .ui.secondary.menu
      %a.item#nav-logo
        %i.utensils.icon
      .right.menu
        .item
          .ui.icon.input
            %input{:placeholder => "Search...", :type => "text"}/
            %i.search.link.icon
        %a.ui.item
          Login
    = yield
